
        :root {
           --background-color: #ffffff;
           --text-color: #121212;
           
           --sticky-header:#ffffff;
           --header-border:#ddd;
           
           --back-home:#f8f9fa;
           --back-home-hover: #BBE9FF ;
           --hover-color:#000;
           
           --color-heading:#121212 ;
        }
        
          /* Dark Mode Colors */
      @media (prefers-color-scheme: dark) {
         :root {
            --background-color: #121212;
            --text-color: #ffffff;
            
            --sticky-header:#1e1e1e;
            
            --back-home:#4B4376 ;
            --back-home-hover: #605678 ;
            --hover-color:#fff;
            
            --color-heading: #90caf9 ;
          }
       }    
       
    /********************************************************************************/   
        html { font-size: 15px; } /* root font size */
        
         body {
            background-color: var(--background-color);
            color: var(--text-color);
            font-family: "Open Sans", system-ui;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            margin:0 ;
            padding: 0;
            -webkit-box-sizing:border-box;
                    box-sizing:border-box;
            transition: background-color 0.3s, color 0.3s;          
        }

         * {
            font-family: "Open Sans", system-ui;
            -webkit-user-select:none;
               -moz-user-select:none;
                -ms-user-select:none;
                    user-select:none;
            margin:0;
            padding:0;
            -webkit-box-sizing:border-box;
                    box-sizing:border-box;
            transition: background-color 0.3s, color 0.3s;          
            user-select:none;
            scrollbar-width: none; /* Firefox */
           -ms-overflow-style: none; /* Internet Explorer and Edge */
        }
         *::-webkit-scrollbar {
           display: none; /* Chrome, Safari, and Opera */
         }
    /*****************************************************************************************/
      
      h1 {
         font-size: 1.50rem;
         margin-top: 30px;
         color:var(--color-heading);
      }
      h2 {
         font-size: 1.30rem;
         margin-top: 30px;
      }
      h3 {
         font-size: 20px ; 
      }
      h4 {
         font-size:1.10rem ; 
      }
      p { 
          font-size:1rem; 
      }
      
      ul {
         font-size:1.10rem; 
      }
      ul li {
         font-size:1rem; 
      }
      strong {
         font-size:1.10rem; 
      }
      
    /***********************************************************/  
        .sticky-header {
             position: sticky;
             top: 0;
             left: 0;
             width: 100%;
             background: var(--sticky-header); /* Bootstrap light background */
             z-index: 1000;
             display: flex;
             align-items: center;
             justify-content: flex-start;
             padding: 10px 10px;
             transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
           }
           
        #header-heading { 
            font-size: 20px; 
            margin-left: 15px; 
        }
      /*************************************/  
        .container {
            max-width: 767px;
            margin: 0 auto;
        }
        
     /***************************************/   
        .bi {
            font-size:1.625rem;
            cursor:pointer;
            background: var(--back-home);
            border-radius:50%;
            padding:0px 6px;
       }

      .bi:hover {
            background: var(--back-home-hover) ;
            color: var(--hover-color) ;
         }
          
          
          
          